APP_ENV=development
EXPO_OWNER=
EXPO_PUBLIC_API_BASE_URL=https://zoohelp-core-production.up.railway.app
EXPO_PUBLIC_APP_URL=https://zoohelp.app
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=your_google_maps_browser_key
ANDROID_VERSION_CODE=1
IOS_BUILD_NUMBER=1

# EAS Submit/App Store Connect
ASC_APP_ID=
APPLE_TEAM_ID=
